/* Boiler Plate */
* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

html, body {
  min-height: 100%;
  background-image: url("./busy-market.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

/* Utilities --------------------------------------------------------*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(106, 48, 48);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
}


/* UI Decorations --------------------------------------------- */


.itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-inline: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

.items {
  border: 2px solid black;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(222, 156, 69, 0.789);
}

.itemNames {
  text-decoration: none;
  color: black;
}

.title {
  color: rgb(46, 38, 27);
  border: solid black;
  padding: 2%;
  background: tan;
  font-size: 5vh;
  text-decoration: underline;
}

.text {
  font-size: 2rem;
  border: 2px solid black;
  padding-block: 15%;
  background-color: rgba(222, 156, 69, 0.789);
}